html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 50px; /* Vertically center the text there */
  background-color: #f5f5f5;
  font-size: 0.7em;
  text-align: center;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 5px;
  padding-left: 5px;
}

.picker-col {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}

.img-item {
  max-width: auto;
  max-height: 4.9em;
}

.itemName {
  text-align: left;
  font-size: 1em;
  margin-top: 0.5em;
}

.item-trimmer {
  height: 6em;
  text-align: center;
  overflow: hidden;
  border: 1px solid #535b63;
  border-radius: 0.6em;
  margin: 2px;
}

.img-trimmer{
  max-height: 100%;
}

.btn-danger {
  margin-top: 1em;
  font-size: 1.5em
}

.ranker-col, .final-img-col{
  text-align: center;
}

.img-final {
  max-height: 100%;
}

.item-final h3{
  margin-top: 0.5em;
}

.item-final p{
  margin-top: 1em;
}

.item-final{
  height: 3.2em;
  margin-top: 0.1em;
  font-size: 0.9em;
}

.first-place {
  height: 7em;
  margin-bottom: 0.5em;
}



@media only screen and (max-width: 600px) {
  .choice-name{
    font-size: 1rem;
  }
}

#explanation {
  font-size: 1.2em;
}

#continue {
  margin-top: 1em;
}

#trimmer, #ranker, #final-rank{
  display: none;
}
